<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CBT Game</title>
	<link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
</head>
<body>
	{% if current_user.is_authenticated %}
	  {% include 'user_nav.html' %}
	{% else %}
		<nav>
			<div class="a_link"><a href="{{url_for('users.index')}}">About</a></div>
			<div class="a_link"><a href="{{url_for('users.new')}}">Sign Up</a></div>
			<div class="a_link"><a href="{{url_for('users.login')}}">Login</a></div>
			<div class="a_link"><a href="">Play</a></div>
		</nav>
	{% endif %}
	
	{% for message in get_flashed_messages() %}
	    <div class="flash"><h3>{{ message }}</h3></div>
	{% endfor %}
	
    {% block content %}
    {% endblock %}
</body>
</html>