{% extends 'base.html' %}

{% block content %}
<h1>Welcome to my little game.</h1>
<p>As we go through our lives automatic thoughts come into our consciousness. We often just accept them because "we" thought them. Many of these are unpleasant, unhelpful, and untrue.</p>
<p>Cognitive Behavioral Therapy (CBT) is one of the most studied and successful forms of therapy. CBT helps us think critically about what we are saying to ourselves. We try and associate new thoughts with these automatic thoughts.
My idea is to harness the ability of computer games to create associations to install the new associations of CBT.</p>

<p>Come and <a href="">Give it a try.</a></p>
{% endblock %}