{% extends 'base.html' %}

{% block content %}
<h1>Signing up for my little game.</h1>
<p>Signing up for the game lets you customize the game for yourself. You can also see your history.</p>
<form action="">
	{{ form.csrf_token }}
	{{ form.first_name.label}}
	{{form.first_name}}
	{% if form.first_name.errors %}
		<span>
			{% for error in field.errors %}
          		{{ error }}
        	{% endfor %}
		</span>
    {% endif %}
    {{ form.username.label}}
	{{form.username}}
	{% if form.username.errors %}
		<span>
			{% for error in field.errors %}
          		{{ error }}
        	{% endfor %}
		</span>
    {% endif %}

</form>
{% endblock %}