/* gloabal */
body{
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
}
h1{
	text-align: center;
}
p{
	margin: 50px;
	text-align: justify;
}


/* navbar settings */
nav{
	display: flex;
	justify-content: space-around;
	padding: 20px;
	background-color: #0F6B6A;
}
a{
	line-height: 2;
	text-decoration: none;
	color: black;
	text-shadow: -2px -1px 1px whitesmoke;
	transition: 0.25s;
}

nav a{
	color: whitesmoke;
	text-shadow: -2px -1px 1px #000;
	display: inline-block;
	width: 200px;
	text-align: center;
	align-self: center;
	line-height: 0;
}
.a_link:hover{
	background-color: orange;
	border-radius: 100px;
	box-shadow: 0px 0px 5px 5px orange; /* #7BC7C5 #c64e9d;*/
}
.a_link:hover a{
	color: black;
	text-shadow: -2px -1px 1px #fff;
	font-size: 1.5em;
	padding: 0;
	line-height: 0;
	/*transition: line-height 0s;*/
}


/* lists */
ol, ul, li{
	list-style: none;
}
.prompt {
	margin: 0 auto;
	width: 90%;
	text-indent: 1%;
	border-radius: 100px;
	background-color: #0F6B6A;
	font-size: 1.2em;
}
.prompt a{
	color: whitesmoke;
	text-shadow: -2px -1px 1px #000;
	display: inline-block;
	text-align: center;
	align-self: center;
}
.response{
	margin: 0 auto;
	display: inline-block;
	width: 80%;
	text-indent: 3%;
	background-color: #7BC7C5;
}
.prompt:hover, .response:hover{
	background-color: orange;
	border-radius: 100px;
	box-shadow: 0px 0px 5px 5px orange;
}
.prompt:hover a, .response:hover a{
	color: black;
	text-shadow: -2px -1px 1px #fff;
	padding: 0;
}
.neutral{

}
.affirmation{
}
.negative{
}
.flash{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	text-align: center;
	border-radius: 70px;
	animation: 3s ease-out 0.5s 1 fadeout forwards;
	opacity: 1;
	background-color: rgba(255, 20, 147, 0.5);
}
.flash:hover{
	opacity: 1;
}

@keyframes fadeout{
	0%{
		box-shadow: 0px 0px 0px 0px rgba(255, 20, 147, 0);
		opacity: 1;
		color: black;
	}
	50%{
		box-shadow: 0px 0px 60px 20px rgba(255, 20, 147, 1);
	}
	90%{
		top: 45%;
		left: 50%;
		color: rgba(0,0,0,0);
	}
	100%{
		opacity: 0;
	}
}

/* game board */

button{
	font-size: 1.2em;
	border: 2px solid #0F6B6A;
	background-color: whitesmoke;
}
#board{
	display: flex;
	flex-direction: column;
	border: 1px dashed red;
	width: 80vw;
	height: 50vh;
	margin: 0 auto;
	border: 5px solid #0F6B6A;
}
#board div{
	flex-grow: 1;
}
#board *{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: 100%;

}
.choice{
	width: 46%;
}
#prompt h2{
	background-color: orange;
	align-items: center;
}
